body {
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
}

header {
  padding-left: 50px;
  padding-bottom: 40px;
}

h1 {
  color: red;
  font-size: 80px;
  font-family: 'Slabo 27px', serif;
  text-transform: none;
  font-weight: 100;
}

h1 span {
  color: black;
  font-size: 40px;
  display: block;
  font-family: 'Roboto Condensed', sans-serif;
  text-transform: uppercase;
  letter-spacing: 15px;
}

#navbar ul {
  margin: 0 auto;
  font-size: 30px;
}

#navbar li {
  display: inline;
  text-decoration: none;
  padding-right: 60px;
}

a:link {
    color: #575856;
    text-decoration: none;
}

a:visited {
    color: #575856;
    text-decoration: none;
}

a:hover {
    color: #0E5CE3;
    text-decoration: none;
}

a:active {
    color: #0E5CE3;
    text-decoration: none;
}

#body img {
  width: 100%;
  height: 90%;
  position: absolute;
  left: 0px;
}

footer {
  font-size: 22px;
  color: white;
  background-color: black;
  position: fixed;
  height: 40px;
  width: 100%;
  left: 0px;
  bottom: 0px;
  text-align: center;
  padding-top: 15px;
}

footer span {
  padding: 30px;
}

.bodies {
  margin: 0 auto;
  padding: 30px;
  font-size: 24px;
}

.bodies h3 {
  text-align: center;
  padding-bottom: 30px;
}

#services-body {
  font-size: 18px;
}

#services-body h3 {
  text-align: left;
}
